.submenu_box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
  height: 60px;
}

.menu_box {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 45px;
  height: 60px;

  margin: 0 8px;
  cursor: pointer;
}

.icon {
  width: 30px;
  height: 30px;
  margin: 5px 0;
}

.title {
  color: #fff;
  font-size: 10px;
  margin-bottom: 3px;
  white-space: nowrap; /* 줄바꿈 X */
  user-select: none; /* 글선택 X */
}

.back_btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 45px;
  height: 60px;

  margin: 0 8px;
  cursor: pointer;
}